@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

html,
body {
  background: none;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  min-height: 100%;
}

#container {
  display: inline-block; 
}

#song {
  display: block;
  margin-left: 0.5rem;
  font-size: 56px;  
  color: transparent;
}

#artist {
  display: block;
  font-size: 56px;
  color: transparent;
}

.helper {
  position: absolute;
  width: calc(100% - 2rem);
  top: 96px;
  left: 96px;
}